@model Exam_Portal.ViewModels.Group.GroupDetailsViewModel
@{
    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Admin/_Layout.cshtml";
    }
    else if (this.User.IsInRole("Faculty"))
    {
        Layout = "~/Views/Faculty/_Layout.cshtml";
    }
    ViewData["Title"] = "Add Student";
}

<div class="card shadow mb-4">

    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
       role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Group Details</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">

        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.Group.Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Group.Name" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.Group.Branch" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Group.Branch" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.Group.Semester" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Group.Semester" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.Group.Division" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Group.Division" class="form-control" disabled>
                </div>
            </div>
        </div>

    </div>
 
    @if (Model.Users.Count != 0)
    {
        <hr>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline-block">Students in Group</h6>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary mb-0 shadow-sm"
                   asp-controller="Group" asp-action="AddStudentToGroup" style="float:right">
                    Add Student
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Division</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="">Select All</label>
                                        <input class="form-check-input" type="checkbox" id="selectAll">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Division</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Remove</th>
                            </tr>

                        </tfoot>

                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.Name @user.MiddleName @user.LastName</td>
                                    <td>@user.Branch</td>
                                    <td>@user.Semester</td>
                                    <td>@user.Division</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkbox">
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <hr>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline-block">Students in Group</h6>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary mb-0 shadow-sm"
                   asp-controller="Group" asp-action="AddStudentToGroup" style="float:right">
                    Add Student
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Division</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="">Select All</label>
                                        <input class="form-check-input" type="checkbox" id="selectAll">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Division</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Remove</th>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    }

</div>