@model Exam_Portal.ViewModels.Admin.ViewUserViewModel
@{
    ViewData["Title"] = "View Student";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Branch</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.User.Any())
        {
            foreach (var user in Model.User)
            {
                <tr>
                    <td>@user.Name @user.MiddleName @user.LastName</td>
                    <td>@user.Branch</td>
                    <td>
                        <form asp-controller="Faculty" asp-action="StudentDetails" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-primary">View</button>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Faculty" asp-action="EditStudent" asp-route-id="@user.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Faculty" asp-action="DeleteStudent" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>