@model Exam_Portal.ViewModels.Admin.ViewUserViewModel
@{
    ViewData["Title"] = "View Admin";
}


<div class="card shadow m-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Admin</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Branch</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.User.Any())
                    {
                        foreach (var user in Model.User)
                        {
                            <tr>
                                <td>@user.Name @user.LastName</td>
                                <td>@user.Branch</td>
                                <td>
                                    <form asp-controller="SuperAdmin" asp-action="AdminDetails" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-primary">View</button>
                                    </form>
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="SuperAdmin" asp-action="EditAdmin" asp-route-id="@user.Id">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <form asp-controller="SuperAdmin" asp-action="DeleteAdmin" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
