@model Exam_Portal.ViewModels.Group.ViewGroupsViewModel
@{
    ViewData["Title"] = "Groups";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Groups</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">Created by</th>
                        <th scope="col">Student Count</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Division</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">Created by</th>
                        <th scope="col">Student Count</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Division</th>
                        <th scope="col"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.GroupExtendeds.Any())
                    {
                        foreach (var group in Model.GroupExtendeds)
                        {
                            <tr>
                                <td>@group.Name</td>
                                <td>@group.CreatorName</td>
                                <td>@group.StudentCount</td>
                                <td>@group.Branch</td>
                                <td>@group.Semester</td>
                                <td>@group.Division</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Student" asp-action="ViewGroup" asp-route-id="@group.Id">
                                        View
                                    </a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>