@model Exam_Portal.ViewModels.Tests.AddQuestionsViewModel
@{
    ViewData["Title"] = "Create Test";

    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Admin/_Layout.cshtml";
    }
    else if (this.User.IsInRole("Faculty"))
    {
        Layout = "~/Views/Faculty/_Layout.cshtml";
    }
}
<script src="~/vendor/jquery/jquery.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Import Excel</h6>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Test" asp-action="AddExcelQuestions" asp-route-id="@ViewContext.RouteData.Values["id"]" 
              enctype="multipart/form-data">

            <div class="form-group row">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label for="importexcel">Import Data</label>
                <input type="file" class="form-control-file" id="importexcel" name="File" required>
            </div>
            <div class="form-group">
                <input type="submit">
            </div>
        </form>
    </div>
</div>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Questions</h6>
        </div>
        <div class="card-body">
            <!-- Page Heading -->

            <form asp-controller="Test" asp-action="AddQuestions" method="post">

                <div class="questions" @*style="overflow-y:auto;"*@>
                    @*<div class="form-group row">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>*@
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Question No.</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label asp-for="Question" class="col-form-label"></label>
                                    <input type="text" asp-for="Question" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Option1" class="col-form-label"></label>
                                            <input type="text" asp-for="Option1" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Option2" class="col-form-label"></label>
                                            <input type="text" asp-for="Option2" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Option3" class="col-form-label"></label>
                                            <input type="text" asp-for="Option3" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Option4" class="col-form-label"></label>
                                            <input type="text" asp-for="Option4" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Answer" class="col-form-label"></label>
                                            <select asp-for="Answer" class="mr-sm-2 custom-select" id="select" required>
                                                <option value="-1">Select your answer</option>
                                                <option value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Tag_id" class="col-form-label"></label>
                                            <select asp-for="Tag_id" class="custom-select mr-sm-2" id="tag_select" required>
                                                <option value="-1">Select your answer</option>
                                                @foreach (var tag in Model.Tags)
                                                {
                                                    <option value="@tag.Id">@tag.Tag_name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label asp-for="Marks" class="col-form-label"></label>
                                            <input type="number" min="1" asp-for="Marks" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label asp-for="Description" class="col-form-label"></label>
                                    <input type="text" asp-for="Description" class="form-control" placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" hidden>
                    <label asp-for="Test_id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" min="1" asp-for="Test_id" class="form-control" placeholder="" value="@Model.Test_id">
                    </div>
                </div>

                <div class="text-center">
                    <button id="btn1" type="button" class="btn btn-primary mb-2">Add Question</button>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

    document.getElementById("select").multiple = false;
    document.getElementById("tag_select").multiple = false;

    $(document).ready(function () {



        $("#btn1").click(function () {
            $(".questions").append(`
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Question No.</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label asp-for="Question" class="col-form-label">Question</label>
                                <input type="text" name="Question" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Option1" class="col-form-label">Option 1</label>
                                        <input type="text" name="Option1" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Option2" class="col-form-label">Option 2</label>
                                        <input type="text" name="Option2" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Option3" class="col-form-label">Option 3</label>
                                        <input type="text" name="Option3" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Option4" class="col-form-label">Option 4</label>
                                        <input type="text" name="Option4" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Answer" class="col-form-label">Answer</label>
                                        <select name="Answer" class="mr-sm-2 custom-select" id="select" required>
                                            <option value="-1">Select your answer</option>
                                            <option value="0">1</option>
                                            <option value="1">2</option>
                                            <option value="2">3</option>
                                            <option value="3">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Tag_id" class="col-form-label">Tag</label>
                                        <select name="Tag_id" class="custom-select mr-sm-2" id="tag_select" required>
                                            <option value="-1">Select your answer</option>
                                            @foreach (var tag in Model.Tags)
                                            {
                                                <option value="@tag.Id">@tag.Tag_name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Marks" class="col-form-label">Marks</label>
                                        <input type="number" min="1" name="Marks" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label asp-for="Description" class="col-form-label">Description</label>
                                <input type="text" name="Description" class="form-control" placeholder="" required>
                            </div>
                        </div>
                    </div>
                </div>`);
        });
    });

    //const btn = document.getElementById("btn1")
    //btn.addEventListener('click', (event) => {
    //    console.log("Niche");
    //    let div = document.getElementsByClassName("questions")
    //    div.append(`<div class="form-group">

    //                    <label class="col-sm-2 col-form-label">Testing</label>
    //                    <div class="col-sm-10">
    //                        <input type="text" class="form-control" placeholder="">

    //                </div>
    //            </div><hr>`);
    //});
    </script>
